body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.typewrite {
	margin-bottom: 30pt;
	max-width: 700px;
}

#all {
  background: linear-gradient(#FFFFFF, #fafdfb);
  padding-top: 1rem;
  padding-bottom: 0rem;
}

#big-title {
  padding-bottom: 1rem;
}

.dot {
  height: 250px;
  width: 250px;
  background: url("../img/odhuone_kapea.jpg");
  border-radius: 50%;
}


#firstimage {
  width: 100%;
  min-height: 450px;
  max-height: 100vw;
  background-image: url("../img/odhuone-laaja-crop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  margin-bottom: 15px;

}

#clockimage {
  width: 100%;
  min-height: 400px;
  max-height: 100vw;
  background-image: url("../img/kello.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

#teddyimage {
  width: 100%;
  min-height: 450px;
  max-height: 100vw;
  background-image: url("../img/nalle-odottaa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;

}

@media only screen and (max-width: 1081px) {
    #teddyimage {
      background-image: url("../img/hammasharja2.jpg");
    }
}

#mapimage {
  width: 100%;
  min-height: 400px;
  max-height: 100vw;
  background-image: url("../img/kartta2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 30%;
}

#pricediv {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

#pricetable {
  max-width: 100%;
}

#pdflink:hover {
  color: gray;
}

#denttilogo {
	max-width:150px;
}

.nohyph {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.hyph {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.manual-hyph {
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
}

.bigtitle {
  padding-bottom: 3%;
}

.container {
  max-width: 900pt;
}

.navbar
{
  font-size: 17pt;
}

#servicelinks p {
  text-decoration: underline;
}
#servicelinks p:hover {
  color: gray;
  text-decoration: none;
}