body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.typewrite {
	margin-bottom: 30pt;
	max-width: 700px;
}

.nav-item {
  text-transform: uppercase;
}

#all {
  background: linear-gradient(#FFFFFF, #fafdfb);
  padding-top: 1rem;
  padding-bottom: 0rem;
}

#big-title {
  padding-top: 3rem;
  padding-bottom: -1rem;
  
  padding-right: 1rem;
  text-transform: uppercase;
  color: rgba(52,102,80,255);
}

.container h1 {
  text-transform: uppercase;
  color: rgba(52,102,80,255);
}
.dotsurround {

}

.navbar-light .nav-item .nav-link.active,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: rgba(52,102,80,255);
}

.ingressi {
  margin-top: auto;
}

.dot {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  background: url("../img/pallo-tausta.jpg");/* rgba(52,102,80,255); */
  background-size: 100%;
  border-radius: 50%;
  display: inline-block;
  color: white;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-shadow: -3px 3px 5px rgba(200,200,200,10), 3px -3px 5px rgba(200,200,200,10),
  -3px -3px 5px rgba(200,200,200,10), 3px 3px 5px rgba(200,200,200,10);
  }

.dotbox {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
}

.dotinside {
  margin-bottom: 20px;
  font-weight: bold;
}

.dotinside > a {
  text-decoration: unset;
}

.dotinside > a:hover {
  text-decoration: underline;
}


.vertical-center > .text-center 
{
    flex-grow: 1;
}
@media only screen and (max-width: 1300px) {
    .dot {
      height: 180px;
      width: 180px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .dotinside {
      margin-bottom: 0;
      font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1000px) {
    .dot {
      height: 150px;
      width: 150px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .dotinside {
      margin-bottom: 0;
      font-size: 0.8rem;
    }
}



#firstimage {
  width: 100%;
  min-height: 55vh;
  max-height: 100vw;
  background-image: url("../img/odhuone-laaja-crop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;

}

@media only screen and (max-width: 1000px) {
    #firstimage {
      min-height: 40vh;
    }
}

#clockimage {
  width: 100%;
  min-height: 50vh;
  max-height: 100vw;
  background-image: url("../img/kello.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

#teddyimage {
  width: 100%;
  min-height: 55vh;
  max-height: 100vw;
  background-image: url("../img/nalle-odottaa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;

}

@media only screen and (max-width: 1080px) {
    #teddyimage {
      background-image: url("../img/nalle-odottaa-2.jpg");
      min-height: 50vh;
    }
}

.map {
  height: 50vh;
  width: 100%;
}

#mapimage {
  width: 100%;
  min-height: 55vh;
  max-height: 100vw;
  background-image: url("../img/kartta2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 30%;
}

#pricediv {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

#pricetable {
  max-width: 100%;
  overflow: hidden;
}

main a {
  color: #212529;
  text-decoration: underline;
}

a:hover {
  color: gray;
}

.custom-link:hover {
  color: gray;
}


#denttilogo {
  max-width: 190px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1400px) {

  #denttilogo {
  	max-width:150px;
  }
}


.nohyph {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.hyph {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.manual-hyph {
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
}

.bigtitle {
  padding-bottom: 3%;
}

.container {
  max-width: 900pt;
  padding-top: 30px;
  margin-top: -30px;
}

@media only screen and (max-width: 1000px) {

  .container {
    max-width: 900pt;
    padding-top: 10px;
    margin-top: -10px;
  }

}

@media only screen and (max-width: 1000px) {

  .map {
    max-width: 900pt;
    padding-top: 0px;
    margin-top: 0px;
  }

}

.navbar
{
  font-size: 17pt;
}

.contactform {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

#servicelinks p {
  text-decoration: none;
}
#servicelinks p:hover {
  color: gray;
  text-decoration: underline;
}